body {
    background-color: rgb(100, 100, 100);
    text-align: center;
}

.link {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    font-size: 60px;
    text-align: center;
}

.recipelist {
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.atomic {
    background-color: rgb(177, 216, 27)
}

.mystery {
    background-color: rgb(221, 156, 59);
}

.cookie {
    background-color: rgb(59, 221, 172);
}

img {
    height: 100px;
}